nav {
  display: flex;
  flex-direction: row;
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav .brand-container {
  align-items: flex-start;
  padding-left: 3rem;
}

nav h1 {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
}

nav .btn-container {
  align-items: flex-end;
  padding-right: 3rem;
}
